@media (max-width: 1440px) { 
	.hero__caption {
		font-size: 45px;
		max-width: 650px;
	}
	.hero-parametrs-item__text {
		font-size: 18px;
	}
	.hero-parametrs-item__img {
		max-width: 28px;
	}
	.articles__text {
		font-size: 18px;
	}
	.articles__caption {
		font-size: 34px;
	}
}

@media (max-width: 1100px) { 
	.articles-sides--first .left-side {
		display: none;
	}
	.articles-sides--first .right-side {
		width: 100%;
	}
}


@media (max-width: 991px) { 
	.hero__caption {
		font-size: 38px;
		max-width: 540px;
	}
	.hero-parametrs {
		width: 22%;
	}
	.articles__text {
		font-size: 16px;
	}
	.articles__caption {
		font-size: 28px;
	}

}

@media (max-width: 767px) { 
	.hero-top {
		flex-direction: column;
	}
	.articles-block {
		padding-top: 32px;
	}
	.articles-sides {
		flex-direction: column;
	}
	.articles-images-block {
		flex-direction: column;
	}
	.right-side {
		width: 100%;
	}
}
	
@media (max-width: 622px) { 
	.hero__caption {
		font-size: 30px;
		max-width: 460px;
	}
	.hero-parametrs {
		display: flex;
		width: 100%;
	}
	.hero-parametrs-item {
		margin-right: 16px;
		margin-bottom: 0px;
	}
	.hero-parametrs-item__img {
		max-width: 28px;
		flex: 0 0 auto;
		max-height: 28px;
	}
	.hero-main-img {
		margin-bottom: 64px;
		width: 100vw;
		margin-left: 16px;
		margin-right: 16px;
		height: 211px;
	}
	.hero-top {
		margin-bottom: 25px;
	}
	.articles__caption {
		font-size: 24px;
	}
	.articles-decor-line {
		margin-top: 20px;
		margin-bottom: 24px;
	}
}

@media (max-width: 479px) { 

}