@media (max-width: 1440px) { 
    .hero__caption {
        font-size: 50px;
        max-width: 600px;
    }
    .hero__description {
        font-size: 24px;
    }
    .plato__title {
        font-size: 2vw;
    }
    .plato__subtitle {
        font-size: 1.1vw;
    }
    .plato-item {
        margin-bottom: 2.5vw;
    }
    .plato-item-1__bot-text {
        font-size: 32px;
        max-width: 370px;
        margin-left: -185px;
        bottom: 7vw;
    }

    .plato-item-1__top-text {
        font-size: 12px;
    }
    .plato-item-2__bot-text {
        font-size: 32px;
        max-width: 370px;
        margin-left: -185px;
        bottom: 60px;
    }
    .plato-item-2__top-text {
        font-size: 12px;
    }
    .plato-item-3__bot-text {
        font-size: 32px;
        max-width: 370px;
        margin-left: -185px;
        bottom: 7vw;
    }
    .route {
        margin-top: 88px;
    }
    .hero-bg-3 {
        background-position: bottom right;
        background-size: 47vw;
    }
    .hero__caption-3 {
        font-size: 7.5vw;
    }
    .hero-caption-wrp {
        max-width: 44vw;
    }
    .hero__description-3 {
        font-size: 1.25vw;
    }
    .hero-view__img-3 {
        margin-left: 6vw;
        max-width: 30vw;
    }
    .hero-view-wrp-description-3 {
        max-width: 26vw;
    }
}

@media (max-width: 1100px) { 
    .hero__caption {
        font-size: 44px;
        max-width: 510px;
    }
    .hero__description {
        font-size: 22px;
    }
    .slider-item-1 {
        height: 515px;
    }
    .hero-content-wrp {
        height: auto;
    }
    .sd {
        margin-top: 57px;
    }
    .hero__caption-2 {
        font-size: 80px;
    }
    .hero__description-2 {
        font-size: 20px;
        margin-top: 26px;
        margin-left: 24px;
    }
    .hero-view__img-2 {
        max-width: 290px;
        margin-left: 51px;
        margin-top: 41px;
    }
    .hero-view-wrp-description {
        max-width: 450px;
    }
    .hero__caption-3 {
        margin-bottom: 30px;
    }
    .hero-view-wrp-description-3 {
        margin-top: -8px;
    }
    .hero-bg-3 {
        background-position: 100% 27%;
        background-size: 42vw;
    }
}

@media (max-width: 991px) { 
    .plato__subtitle {
        margin-top: 18px;
    }
    .plato-item-1__bot-text {
        font-size: 2.4vw;
    }
    .plato-item-2__bot-text {
        font-size: 2.4vw;
    }
    .plato-item-3__bot-text {
        font-size: 2.4vw;
    }
    .route {
        margin-top: 68px;
    }

}


@media (max-width: 767px) { 
    .plato-item-1__top-text {
        font-size: 11px;
    }
    .plato-item-2__top-text {
        font-size: 11px;
    }
    .plato-item-1__bot-text {
        font-size: 22px;
        max-width: 276px;
        margin-left: -138px;
    }
    .plato-item-2__bot-text {
        font-size: 22px;
        bottom: 32px;
        max-width: 224px;
        margin-left: -112px;
    }
    .plato-item-3__bot-text {
        font-size: 22px;
        max-width: 332px;
        margin-left: -166px;
    }
    .route {
        margin-top: 58px;
    }
    .hero__caption-2 {
        font-size: 56px;
    }
    .hero__description-2 {
        font-size: 18px;
        margin-top: 20px;
        margin-left: 20px;
    }
    .hero-view-wrp-description {
        max-width: 301px;
    }
    .hero-view__img-2 {
        max-width: 170px;
        margin-left: 57px;
        margin-top: 23px;
    }
    .hero-view {
        padding-right: 8px;
    }
    .hero-view-3 {
        height: 100%;
        width: calc(100% - 24px);
    }
    .hero__description-3 {
        font-size: 16px;
    }
    .hero-view-wrp-description-3 {
        max-width: 240px;
    }
    .hero-view__img-3 {
        margin-top: 64px;
    }
    .hero-view-3 {
        padding-left: 23px;
    }
}

@media (max-width: 622px) { 
    .plato-ls {
        width: 100%;
    }
    .plato-rs {
        width: 100%;
    }
    .route {
        margin-top: 34px;
    }
    .plato__subtitle {
        font-size: 14px;
    }
    .plato__title {
        font-size: 16px;
    }
    .owl-theme .owl-nav {
        display: none;
    }
    /* .owl-wrp {
        height: 350px;
    }
    .slider-item-1 {
        height: auto;
    } */
    .hero__caption {
        font-family: 'Playfair';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 125%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        max-width: 300px;
    }
    .hero-view {
        padding-top: 41px;
        padding-left: 16px;
    }
    .hero-content-wrp {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .hero__description {
        font-family: 'Geometria';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }
    .hero__caption {
        margin-bottom: 12px;
    }
    .slider-item-1 {
        height: 367px;
    }
    .hero-bg {
        background-size: cover;
    }
    .hero {
        margin-top: 22px;
    }
    .hero-view-wrp-description-3 {
        margin-top: 176px;
        max-width: 100%;
    }
    .hero-view__img-3 {
        margin-top: 0px;
        position: absolute;
        top: 156px;
        left: 0px;
        max-width: 250px;
        margin-left: 0px;
    }
    .hero__caption-3--bot {
        text-align: start;
    }
    .hero__caption-3 {
        margin-bottom: 44px;
    }
    .hero-bg-3 {
        background-position: 100% 0%;
        background-size: 280px;
        display: none;
    }
    .hero__caption-3 {
        font-size: 40px;
    }
    .hero-caption-wrp {
        max-width: 240px;
    }
    
}

@media (max-width: 479px) { 
    .route {
        margin-top: 26px;
    }
    .route-content-wrp {
        padding-bottom: 22px;
    }
    .route-blog__item {
        margin-left: 12px;
        margin-right: 12px;
    }
    .route-blog__item:first-child {
        margin-left: 0px;
    }
    .hero-view__img-2 {
        max-width: 170px;
        margin-left: 49px;
        margin-top: 45px;
    }
    .hero-bg-2 {
        background-position: 63%;
    }
    .sd {
        margin-top: 37px;
        margin-bottom: 22px;
    }
    .hero-view-wrp-description-3 {
        margin-top: 166px;
    }
}

@media (max-width: 399px) { 
    .hero__caption-2 {
        font-size: 46px;
    }
}


	
	
	